#save_focus {
	clear:both;
	text-align:center;
	margin:0;
	padding:10px 0 5px 0;
	font:12px 'Helvetica Neue','HelveticaNeue',Helvetica,Arial;
	line-height:20px;
}

#focusBackground {
	background: #FFF;
	opacity: 0.6;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 50;
}

#focusWrapper {
	position: absolute;
	z-index: 51;
	width: 100%;
}

#focusHeader {
	background:#7395FF url('img/FocusHeader.png') repeat-x 0% 0%;
	color:#222;
	font:20px 'Helvetica Neue','HelveticaNeue',Helvetica,Arial;
	text-shadow:#DDD 0 1px 1px;
	padding:0px 10px;
	border-bottom:1px solid #777;
	font-weight:bold;
	position:relative;
	text-align:center;
}

#focusBox {
	display:block;
	background:#FFF;
	padding:1px;
	color: #333;
	margin: 100px auto 50px auto;
}

#focusBoxTwo {
	border: 1px solid #888;
	border-bottom-color:#777;
	background:#EEE;
	position: relative;
	z-index: 52;
}

#focus_content {
	padding:0 10px 10px 10px;
}

/* @group Dashed Box */

div.dashed_box, div.dashed_box_trip {
	position:relative;
	opacity:0.4;
	padding:0;
	margin:0;
}

div.dashed_box {
	height:170px;
	width:49%;
	margin-right:2%;
	float:left;
}

div.dashed_box_trip {
	height:170px;
	width:32%;
	margin-right:2%;
	float:left;
}

div.dashed_corner {
	width:46px;
	height:50px;
	position:absolute;
	background-image:url('img/dashboard/DashedCorners.png');
	background-repeat:no-repeat;
}

div.dashed_top_left {
	top:0;
	left:0;
	background-position:0 0;
}

div.dashed_top_right {
	top:0;
	right:0;
	background-position:100% 0;
}

div.dashed_bottom_left {
	bottom:0;
	left:0;
	background-position:0 100%;
}

div.dashed_bottom_right {
	bottom:0;
	right:0;
	background-position:100% 100%;
}

div.dashed_horizontal {
	height:12px;
	background:url('img/dashboard/DashedHorizontal.png') repeat-x;
	position:absolute;
	left:46px;
	right:46px;
}

div.dashed_top {
	top:0;
}

div.dashed_bottom {
	bottom:0;
}

div.dashed_vertical {
	width:12px;
	background:url('img/dashboard/DashedVertical.png') repeat-y;
	position:absolute;
	top:50px;
	bottom:50px;
}

div.dashed_left {
	left:0;
}

div.dashed_right {
	right:0;
}

div.dashed_box_last {
	float:right;
	margin-right:0;
	padding-right:0;
}

/* @end */

#new_app_field {
	font:11px "Helvetica Neue", Arial, sans-serif;
}

/* @group Shadow */

div.shadowLeft, div.shadowRight, div.shadowBottomLeft, div.shadowBottomRight, div.shadowBottom {
	opacity:0.7;
}

div.box div.shadowLeft, div.box div.shadowRight, div.box div.shadowBottomLeft, div.box div.shadowBottomRight, div.box div.shadowBottom, div.box_trip div.shadowLeft, div.box_trip div.shadowRight, div.box_trip div.shadowBottomLeft, div.box_trip div.shadowBottomRight, div.box_trip div.shadowBottom {
	opacity:0.4;
}

div.cal_container div.shadowLeft, div.cal_container div.shadowRight, div.cal_container div.shadowBottomLeft, div.cal_container div.shadowBottomRight, div.cal_container div.shadowBottom {
	opacity:0.7;
}

div#focusBox div.shadowLeft, div#focusBox div.shadowRight, div#focusBox div.shadowBottomLeft, div#focusBox div.shadowBottomRight, div#focusBox div.shadowBottom, div#focusBox_trip div.shadowLeft, div#focusBox_trip div.shadowRight, div#focusBox_trip div.shadowBottomLeft, div#focusBox_trip div.shadowBottomRight, div#focusBox_trip div.shadowBottom {
	opacity:1.0;
}

div.shadowLeft {
	padding:0;
	margin:0;
	position:absolute;
	left:-9px;
	top:0;
	bottom:0;
	width:9px;
	z-index:9;
	background:url('img/shadow/ShadeLeft.png') repeat-y;	
}

div.shadowRight {
	padding:0;
	margin:0;
	position:absolute;
	right:-9px;
	top:0;
	bottom:0;
	width:9px;
	z-index:9;
	background:url('img/shadow/ShadeRight.png') repeat-y;
}

div.shadowBottomLeft {
	padding:0;
	margin:0;
	position:absolute;
	left:-10px;
	width:22px;
	bottom:-12px;
	height:12px;
	z-index:9;
	background:url('img/shadow/ShadeBL.png') no-repeat;
}

div.shadowBottomRight {
	padding:0;
	margin:0;
	position:absolute;
	right:-10px;
	width:22px;
	bottom:-12px;
	height:12px;
	z-index:9;
	background:url('img/shadow/ShadeBR.png') no-repeat;
}

div.shadowBottom {
	padding:0;
	margin:0;
	position:absolute;
	left:12px;
	right:12px;
	bottom:-12px;
	height:12px;
	z-index:9;
	background:url('img/shadow/ShadeBottom.png') repeat-x;
}



/* @end */


/* @group Forms */

#settings input[type=text],#settings input[type=password] {
	margin-left: .5em;
}

#settings label {
	width: 5em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	padding-bottom: 5px;
	display: block
}



/* @end */

/* @group Save */

#settings_save_row {
	background: #DEDEDE;
	text-align: center;
	padding: 5px 0;
	border-top: 1px solid #AAA;
	float: left;
	width:100%;
}

#settings_save_row input {
	font-size: large;
}

#settings_save_row a {
	text-decoration: none;
}

#settings_save_row a:hover {
	text-decoration: underline;
}



/* @end */

/* @group Utility */

body {
	margin: 0;
	padding: 0;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	background: #EEE;
}

.floatclear {
	width: 100%;
	clear: both;
	overflow: hidden;
}

div#welcome {
	position:absolute;
	top:100px;
	left:25%;
	right:25%;
	z-index:10;
}

div#welcome div#welcome-button {
	cursor:pointer;
	position:relative;
	left:-25px;
	width:199px;
	height:76px;
	background:url('img/buttons/button_addyourappglow.png') no-repeat 0 top;
}

div#welcome div#welcome-button:active {
	background-position:-199px 0;
}

div#welcome h2 {
	font-size:210%;
	color:#0000BB;
	margin:0;
	padding:0;
}

div#welcome p {
	font-size:150%;
	margin:0;
	padding:0;
}

div#welcome h2, div#welcome p {
	text-shadow:#FFF 0px 1px 0px;
}

#loading_icon {
	padding-left: 10px;
	float:left;
}

/* @end */

/* @group Versions Table */

table#versions_table {
	width:100%;
}

/* @group All Cells */

table#versions_table th, table#versions_table td {
	padding: 3px 10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
}

table#versions_table td {
	cursor:pointer;
}

table#versions_table td.pair1 {
	padding-right: 3px;
}

table#versions_table td.pair2 {
	padding-left: 1px;
}

table#versions_table th:last-child, table#versions_table td:last-child {
	padding-right: 0px;
}

.switchlive {
	color:#dd9911;
	text-decoration:none;
	font-size:12px;
	background-repeat:no-repeat;
	background-position:right center;
	min-width:16px;
}

a.switchlive:hover {
	text-decoration:underline;
}

.switchlive_On {
	background-image:url('img/light_bulb.png');
}

.switchlive_Off {
	background-image:url('img/light_bulb_off.png');
}

#toggle_live_icon {
	float:right;
	margin-right:20px;
	padding-bottom:2px;
	position:relative;
	background-position:center center;
	z-index:11;
	display:block;
	width:20px;
	height:19px;
	cursor:pointer;
}

#auto_load {
	display: block;
	position:absolute;
	right:0px;
	top:0px;
	bottom:0px;
	width:16px;
	min-height:16px;
	border-left: 1px solid #CCC;
	outline: none;
	padding:0 3px 0 7px;
	background:#EEE url('img/lightning.png') no-repeat center center;
	cursor: pointer;
	z-index: 53;
}

#auto_load:focus,#auto_load:hover {
	background-color:#E6E6E6;
	border-left-color: #AAA;
}

#auto_load:active {
	background-color:#E1E1E1;
}

input#field_url {
	background:transparent;
	padding:0.3em 22px 0.3em 4px;
	position: relative;
	z-index: 52;
	border: none;
}

#toggle_live_icon:hover {
	text-decoration:none;
}

/* @end */

/* @group Normal Cells */

table#versions_table td {
	font-size: 12px;
}

table#versions_table td:first-child {
	padding-left: 15px;
}

table#versions_table td small {
	visibility: hidden;
	font-size: 10px;
	color: #555;
}



/* @end */

/* @group Header Cells */

ul#version-headers {
	display:block;
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	clear:both;
}

ul#version-headers li {
	display:block;
	float:left;
	font-family: "HelveticaNeue", "Helvetica Neue", Arial, sans-serif;
	font-size:14px;
	font-weight: normal;
	text-align: left;
	padding-bottom: 4px;
	padding-top:2px;
	color: #222;
	width:80px;

}

/* SCROLL */

div#scroll-cutoff {
	position:relative;
	margin:0 -10px;
	padding:0 0 0 10px;
}

div#scroll-cutoff div#scroll-bar {
	opacity:0.5;
	position:absolute;
	width:5px;
	top:0;
	right:0px;
	bottom:0;
	cursor:move;
	-webkit-transition: opacity .5s;
}

div#versions_container:hover div#scroll-cutoff div#scroll-bar, div#scroll-cutoff div#scroll-bar.dragging {
	opacity:1;
}

div#scroll-cutoff div#scroll-knob {
	position:relative;
	background:#BBB;
	height:50px;
	top:0px;
	cursor:move;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
}

/* NEW TABLE DIV BASED*/

div#scroll-cutoff {
	overflow:hidden;
}

div#versions-table, div#versions_table_container, div#version-table-holder {
	float:left;
}

div#version-table-holder {
	position:relative;
}

div#versions-table div.versions-row {
	clear:both;
	float:left;
	cursor:pointer;
	overflow:hidden;
}

div#versions-table div.versions-row:hover  { background:#EEE;    }
div#versions-table div.versions-row:active { background:#E7E7E7; }

div#versions-table div.version-cell {
	float:left;
	padding:4px 0 1px 0;
	background:transparent;
}

ul#version-headers li#version-header-version, div#versions-table div.version-version          { width: 70px; padding-left:20px;overflow:hidden; }
div#versions-table div.version-version small.build-number-small {
	color:#555;
	padding-left:4px;
	font-size:9px;
}
ul#version-headers li#version-header-published, div#versions-table div.version-published      { width: 100px; }

ul#version-headers li#version-header-downloads { width: 103px; }
div#versions-table div.version-download-count { width: 40px; }
div#versions-table div.version-download-graph { padding-right:15px; }
ul#version-headers li#version-header-users, div#versions-table div.version-user-count         { width: 40px; }
div#versions-table div.version-user-graph { padding-right:15px; }

canvas.sparkline {
	visibility:hidden;
	height:16px;
	width:50px;
}

div#versions-table div.most-recent canvas.sparkline {
	visibility:visible;
	opacity:0.5;
}

div#versions-table div.versions-row:hover canvas.sparkline, #versions_content.verbose canvas.sparkline, #versions_content.verbose div#versions-table div.most-recent canvas.sparkline {
	visibility:visible;
	opacity:1.0;
}

a.version_button {
	visibility: hidden;
	padding: 2px 10px 2px 0px;
	text-decoration: none;
	width: 20px;
	height: 20px;
}

div#versions-table div.versions-row:hover a.version_button {
	visibility: visible;
}

div#versions-table div.versions-row a.delete_version_button {
	background: transparent url('img/common/cross_small.png') center center no-repeat;
}

div#versions-table div.versions-row a.version_button:hover {
	background-color: #EEE;	
}

div#versions-table div.selected_version div.version-version {
	background: url('img/arrow_right.gif') no-repeat -0px 50%;
}



/* @end */

/* @group Hovered Cells */

table#versions_table tr { background: transparent; }
table#versions_table tr:hover { background: #EEE; }
table#versions_table tr:active { background: #E7E7E7; }
table#versions_table tr:first-child:hover { background: white; }
table#versions_table tr:hover td small, #versions_content.verbose small { visibility: visible; }

/* @end */

tr.selected_version td:first-child {
	background: url('img/arrow_right.gif') no-repeat -0px 50%;
}

#versions_content {
	padding: 10px;
	padding-bottom:0;
	overflow:hidden;
}


/* @end */

/* @group Main Structure */

div#wrapper {
	width: 80%;/*900px*/
	min-width: 600px;
	margin: 0 auto;
}

/* @group Title Bar */

div#title {
	float: left;
	margin:15px 0 10px 0;
	padding: 5px 0;
	width:100%;
	height:20px;
}

img#logo {
	float:left;
	margin-top:-5px;
	cursor:pointer;
	width:99px;
	height:20px;
}

span#loginstatus {
	float: right;
	font-size: small;
	position:relative;
	background: url('img/dashboard/down_arrow.gif') no-repeat left center;
	padding:0 0 0 20px;
	margin:0 0 0 10px;
}

/* @group App Chooser */

/* @group App List Shadow */

div#app_chooser #applist_shadow_container {
	position:absolute;
	padding-top:1.4em;
}

div#applistShadowRight, div#applistShadowLeft {
	top:1.4em;
}



/* @end */

div#app_chooser {
	float: left;
	padding-left:0.8em;
	position:relative;
}

div#app_chooser #applist_container {
	visibility:hidden;
	position:relative;
	opacity:0.0;
	-webkit-transition: opacity .2s ease-in;
	z-index:10;
}

div#app_chooser:hover div#applist_container {
	visibility:visible;
	opacity:1.0;
}

div#app_chooser #current_app_title {
	float: left;
	padding: 0px 20px 0px 0px;
	background: url('img/dashboard/down_arrow.gif') no-repeat right center;
	color: #444;
}

div#app_chooser #current_app_title small {
	color: #777;
}

/* @group App List UL */

div#app_chooser ul#applist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 12px;
	border: 1px solid #999;
	width:auto;
	position:relative;
	z-index: 10;
}

ul#applist li {
	padding:0;
	cursor: pointer;
	background: #ffffcd url('img/dot.png') repeat-x left top;
	outline:0;
	border:0;
}

ul#applist li.appname {
	border-top: 1px dotted #AAA;
	position:relative;
	padding-right: 45px;
}

ul#applist li.appname span {
	display:block;
	padding: 3px 10px;
	white-space:nowrap;
}

ul#applist li.appname:first-child {
	border-top: none;
}

ul#applist li:hover {
	background-color: #FFEE77;
	background-image: url('img/YellowListGradient.png');
}

ul#applist li:active {
	background-color: #EEEE22;
}

ul#applist li img.applist-edit-pencil {
	position:absolute;
	right:5px;
	opacity:0.3;
}

ul#applist li img { padding-top:3px; }

ul#applist li:hover img.applist-edit-pencil { opacity:1.0; }

ul#applist li img.applist-delete-cross {
	position:absolute;
	right:23px;
	opacity:0.0;
}

ul#applist li:hover img.applist-delete-cross { opacity:1.0; }

ul#applist li.bottom_li {
	font-size: 10px;
	border-top: 1px solid #BBB;
	padding-top: 2px;
	padding-bottom: 3px;
	padding-left: 10px;
	background: #ffffdd;
}

ul#applist li.bottom_li:hover { background: #ffffbb; }
ul#applist li.bottom_li a { display:block; }

ul#applist li a {
	text-decoration: none;
	color: #333;
}



/* @end */

/* @end */

/* @group Actions List */

span#loginstatus div#actions_container {
	visibility:hidden;
	opacity:0.0;
	-webkit-transition: opacity .2s ease-in;
	z-index:5;
	position:relative;
}

span#loginstatus:hover div#actions_container {
	visibility:visible;
	opacity:1.0;
}

/* @group Actions Shadow */

#actions_shadow_container {
	position:absolute;
	padding-top:1.4em;
	z-index:99;
}

div#actionsShadowLeft, div#actionsShadowRight {
	top:1.4em;
}

/* @end */

/* @group Account Actions UL */

span#loginstatus ul#account_actions {
	position:relative;
	padding:0;
	margin:0;
	list-style-type:none;
	z-index:100;
}

span#loginstatus ul#account_actions li {
	padding:0;
	margin:0;
	background: #ffffcd url('img/dot.png') repeat-x left top;
	border:1px solid #AAA;
	border-top-style:dotted;
	border-bottom-style:none;
	cursor:pointer;
	font-size:12px;
}

span#loginstatus ul#account_actions li a {
	padding:3px 10px;
	margin:0;
	display:block;
	font-size:12px;
	text-decoration:none;
	color:black;
	outline:0;
	border:0;
}

span#loginstatus ul#account_actions li:hover {
	background-color: #FFEE77;
	background-image: url('img/YellowListGradient.png');
}

span#loginstatus ul#account_actions li:active {
	background-color: #EEEE22;
}

span#loginstatus ul#account_actions li:first-child {
	border-bottom-style:none;
	border-top-style:solid;
}

span#loginstatus ul#account_actions li:last-child {
	border-bottom-style:solid;
}



/* @end */



/* @end */



/* @end */

/* @group Rows */

div.rowclear {
	clear: both;
	width: 100%;
	padding-top: 20px;
}

/* @group Row 1 */

div#row1 {
	padding: 0;
	position:relative;
}

/* @end */

/* @group Row 2 */

div#row2 {
	
}

/* @group Tri-Boxes */

div#row2 div#box_triptych {
	width: 100%;
	float: left;
}

div#row2 div#box_triptych div.box_trip {
	width: 32%;
	float: left;
	padding: 0 0 0 0;
	margin: 0 2% 0 0;
}

div#row2 div#box_triptych div.box_trip:last-child {
	margin-right: 0;
}

/* @end */



/* @end */

/* @group Boxes */

/* @group Box Containers */

div.box, div.box_trip {
	position:relative;
}

div#r1b1 {
	position:absolute;
	left: 455px;
	right:0;
	z-index:0;
/*	float:right;*/
}

div#box_versions {
	width:440px;
}

div.box:last-child {
	margin-right: 0;
}

#versions_edit {
	background:#FFFFCC;
	margin-top:-1px;
}



/* @end */

/* @group Box Titles */

div.box_footer {
	display:block;
	height:11px;
	padding: 0;
	margin: 0;
	position:relative;
	background: #FFF url('img/box_horizontal_parts.png') repeat-x left -30px;
}

div.box_corner_bottom {
	width:14px;
	height:11px;
	display:block;
	position:absolute;
	background: url('img/box_corners.png') no-repeat left top;
}

div#box_corner_bottom_left { background-position: left -30px; }
div#box_corner_bottom_right { background-position: -14px -30px; right:0; }

div.rowclear div div.box_title {
	display: block;
	background: #acf url('img/box_horizontal_parts.png') repeat-x left top;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: bold;
	font-size: 16px;
	padding: 0;
	margin: 0;
	height:30px;
	position: relative;
}

div.box_title a.switchstats {
	display:none;
}

div.box_title div.switchstats {
	display:block;
	position:absolute;
	right: 10px;
	top: 0;
	bottom:0;
	width:19px;
	background:url('img/Switch.png') no-repeat right 50%;
	cursor:pointer;
	opacity:0.0;
	-webkit-transition: opacity .2s ease-in;
}

div.box:hover div.switchstats, div.box_trip:hover div.switchstats {
	opacity:1.0;
}

div.rowclear div div.box_title small {
	font-size: 10px;
	color: #555;
	font-weight: 300;
}

div.rowclear div div.box_title span {
	color: #005588;
	text-shadow: rgba(255,255,255,0.75) 0px 1px 0px;
}

div.rowclear div div.box_title span.menu_title {
	padding:0 20px 0 15px;
	background: url('img/dashboard/down_arrow_blue.gif') no-repeat right center;
}

h3#addOrEditTitle {
	display:inline;
	padding-left:15px;
}

h3#addOrEditTitle span.app {
	font-weight:bold;
	color:#111;
}

div.rowclear div div.box_title div.title_container {
	padding:5px 0 0 0;
	position:relative;
	height:25px;
}

div.rowclear div div.box_title div.title_container ul.box_data_selector {
	color:#000;
	display:none;
	font-size:11px;
	position:absolute;
	left:-6px;
	top:100%;
	padding:20px 20px 20px 20px;
	margin:-20px 0 0 0;
	list-style-type:none;
	z-index:100;
	text-shadow:none;
}

div.rowclear div div.box_title div.title_container span.menu_title:hover ul.box_data_selector {
	display:block;
}

div.rowclear div div.box_title ul.box_data_selector li {
	background: #FFFFCC url('img/YellowListGradient.png') repeat-x;
	font-weight:normal;
	padding:0.2em 0.7em;
	cursor:pointer;
	border:1px solid #BBB;
	border-top-style:none;
}

div.rowclear div div.box_title ul.box_data_selector li.first-custom-graph {
	background-color:#FFFFDD;
}

div.rowclear div div.box_title ul.box_data_selector li:hover {
	background: #FFEE77 url('img/YellowListGradient.png') repeat-x;
}

/* @group Calendar */

span#editDateContainer {
	float:right;
	position: relative;
	right:15px;
	top:5px;
	z-index:10;
}

div#editDateCalendar {
	display:none;
	margin:0;
	position:absolute;
	right:0px;
	top:0;
	padding:1.3em 0 0 0;
	z-index:10;
}

div.cal_container {
	position:relative;
	padding:0;
}

span#editDateContainer:hover div#editDateCalendar {
	display:block;
}

span#editDateLabel {
	font-size: x-small;
	font-weight:normal;
}



/* @end */

/* @end */



/* @end */

div.rowclear div div.box_data {
	background: white;
	padding: 20px 20px 5px 20px;
	font-size: 12px;
	border:1px solid #B2B2B2;
	border-top-style:none;
	border-bottom-style:none;
	/*min-height: 200px;*/
}

/* @group Edit Form */

div.rowclear div div.box_entry {
	border:1px solid #B2B2B2;
	border-top-style:none;
	border-bottom-style:none;
	background: #EEE;
}

div.rowclear div div.box_entry > div {
	padding: 10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 12px;
	display: inline-block;
}

div.rowclear div div.box_entry h3 {
	padding: 0;
	margin: 0;
}

/* @group Tables */

table.edit_version_table {
	width: 100%;
	padding: 5px 15px 10px 15px;
	margin: 0 0 0 0;
	font-size: 12px;
}

table.edit_version_table:first-child {
	margin-top: 0;
	border: 1px solid red;
}

table.edit_version_table td {
	padding-right: 10px;
}

table.edit_version_table td:last-child {
	padding-right: 0;
}

form#backup_import_form {
	margin-bottom:-0.5em;
}

#backup_app_selections {
	padding:5px 10px 0 10px;
}

label.select_backup_app_label {
	font-size:85%;
}

/* @end */

/* @group Form Elements */

/* @group Inputs */

table.edit_version_table input, table.edit_version_table textarea {
	border: 2px solid #AAA;
	outline:0px;
}

table.edit_version_table input:focus, table.edit_version_table #notes_container.editing, table.edit_version_table #url_container.editing {
	/*border-color: #3399FF;*/
	border-color: #999;
	background:#EFEFFF;
}

/* @group Text Boxes */

table.edit_version_table input[type=text] {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 14px;
	width: 100%;
	padding:0.2em 2px;
}

#canvas {
	float:left;
}

#field_version {
	font:14px Arial;
	margin-right:-0.8em;
}

#field_build {
	font:10px Arial;
	color:#777;
}

#url_container {
	position: relative;
	background: white;
	z-index: 50;
	border: 2px solid #AAA;
}

#autoload_progress {
	z-index: 51;
	background:lightblue;
	position:absolute;
	top:0px;
	left:0px;
	bottom:0px;
	width: 0;
}

.text {
	border: 0px;
}

input#field_version, input#field_build {
	border:0px;
	background: transparent;
	outline:0px;
}

div#notes_pad {
	padding-left: 3px;
}

textarea#field_notes {
	display: block;
	height: 10em;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size:11px;
	color:#222;
	padding: 0;
	margin: 0;
	border: none;
	background:transparent;
}

/* @end */



/* @end */

/* @group Labels */

div#versions_edit > div {
	padding:10px 0 0 0;
}

table.edit_version_table.alternate {
	background: #FFFF99;
	border:1px solid #BBB;
	border-left-style:none;
	border-right-style:none;
}

table.edit_version_table th {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
	font-weight: normal;
	font-size: 11px;
	padding-bottom: 2px;
	text-align:left;
	color:#333;
}

a.cancel_edit_link {
	color:#333;
	text-decoration:none;
	font-weight:normal;
}

a.cancel_edit_link:hover {
	text-decoration:underline;
	color:#555;
}

a.cancel_edit_link:active {
	color:#222;
}

/* @end */



/* @end */



/* @end */



/* @end */

div#copyright {
	float: left;
	padding: 20px 0;
	font-size: 10px;
	width:100%;
}

div#copyright a.right-link {
	float:right;
	text-decoration:none;
	padding:0;
	margin:0 0 0 10px;
	color:#222;
}

div#copyright a.right-link:hover { text-decoration:underline; }

div#copyright a#report-bug {
	background:url('img/dashboard/exclamation_small.png') no-repeat left center;
	padding-left:18px;
}

a#preview-switch {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

a#preview-switch:hover {
	text-decoration: underline;
}

div#preview-area {
	background:white;
	padding:0.5em 0.8em 1em 0.8em;
	margin:0 0 0 0;
	font-size:90%;
	min-height: 7em;
}

div#preview-area ul {
	margin:0.2em 0.5em;
	padding:0 1em;
}

/* @end */

#notes_container {
	border: 2px solid #AAA;
	background: white;
}

#notes_bar {
	display: block;
	background:#DDD url('img/YellowListGradient.png') repeat-x left top;
	padding:0.5em 0;
	width: 100%;
	border-top:1px solid #AAA;
	font-size:90%;
}

#notes_status {
	padding-left: 0.5em;	
}

canvas.sparkline {
	visibility:hidden;
	height:16px;
	width:50px;
}

table#versions_table tr.most-recent td canvas.sparkline {
	visibility:visible;
	opacity:0.5;
}

table#versions_table tr:hover td canvas.sparkline, #versions_content.verbose canvas.sparkline, #versions_content.verbose table#versions_table tr.most-recent td canvas.sparkline {
	visibility:visible;
	opacity:1.0;
}

#stat_edit {
	padding-top:10px;
}

input#save-version-button {
	display:inline-block;
	width:104px;
	height:20px;
	text-indent: -9999px;
	border:0;
	outline:0;
	cursor:pointer;
	background:url('img/buttons/button_saveversion.png') no-repeat 0 0;
}

input#save-version-button:focus  { background-position:-208px 0; }
input#save-version-button:active { background-position:-104px 0; }

div.box_corner_top {
	width:14px;
	height:30px;
	display:block;
	position:absolute;
	background: url('img/box_corners.png') no-repeat left top;
}

div#box_corner_top_left { background-position: left top; }
div#box_corner_top_right { background-position: -14px top; right:0; }

div#save_version_row {
	float:left;
	width:100%;
	text-align:center;
	line-height:20px;
	margin:0;
	padding:10px 0 0 0;
}

img#new-version-button {
	cursor:pointer;
	position:absolute;
	right:13px;
	top:8px;
}

img#new-version-button:active {
	opacity:0.8;
}

div#notify {
	display:table;
	margin:0 auto;
	padding:2px 7px;
	background:#FF5;
	border:1px solid #F99;
	font-size:11px;
	font-family:Helvetica, Arial, sans-serif;
	text-align:center;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	position:relative;
	z-index:100;
}

div#notify a {
	color:#00E;
	text-decoration:none;
	font-weight:bold;
}

div#notify a:hover {
	text-decoration:underline;
}

#focus_content a.action-choose-link {
	color:blue;
	text-decoration:none;
}

#focus_content a.action-choose-link:hover { color:#00C; }

#focus_content h6 span.sparkle-message {
	font-size:10px;
	text-shadow:white 0px 1px 0px;
	background:url('img/sparkle.png') no-repeat left center;
	padding:1px 0 1px 20px;
	margin-left:5px;
	color:#222;
	font-weight:normal;
}

#focus_content a.add-stat-plus {
	text-decoration:none;
	background: url('img/tiny_plus.png') no-repeat left center;
	color:#333;
	font-size:10px;
	padding-left:13px;
}

#focus_content a.add-stat-plus:hover {
	text-decoration: underline;
}

#focus_content a.new-grouping-plus {
	text-decoration:none;
	background: url('img/tiny_plus.png') no-repeat left center;
	color:#333;
	font-size:10px;
	padding-left:13px;
	margin-left:10px;
	font-weight:normal;
}

#focus_content a.new-grouping-plus:hover {
	text-decoration: underline;
}

#focus_content div.stat_grouping_container table tr td input.condition-value, #focus_content div.stat_grouping_container table tr td input.operation-value, #focus_content div.stat_grouping_container table tr td input.round-value, #focus_content div.stat_grouping_container table tr td input.unit-value {
	width:30%;
}